@media (min-width: 320px) {
    .container {
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .preview_content {
        width: 90%;
    }

    .preview_example {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .preview_example ul {
        gap: 10px;
    }

    .subscribe_content {
        max-width: 460px;
        margin: 0 auto;
    }

    .descr_mobile {
        display: none;
    }

    .descr_desctop {
        display: block;
        font-size: 18px;
    }

    .subscribe_title {
        font-size: 36px;
    }

    .form button span {
        display: block;
    }

    .form button {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .subscribe_form {
        width: 447px;
    }


}


@media (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 720px;
    }

    .preview_content {
        max-width: 90%;
        margin: 0;
    }

    .preview_content h1 {
        text-align: left;
        font-size: 44px;
        line-height: 53px;
    }

    .mobile {
        display: none;

    }

    .desctop {
        display: block;
    }

    .preview_descr {
        text-align: left;
        font-size: 18px;
    }



    .hamburger {
        display: none;
    }

    .header_menu {
        position: static;
        width: auto;
        height: auto;
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        flex-direction: row;
    }

    .header_items a {
        font-size: 16px;
    }

    .header_list {
        flex-direction: row;
        gap: 20px;
    }

    .header_box {
        flex-direction: row;
        gap: 35px;
    }

    .header_left-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_menu {
        gap: 160px;
    }

    .desctop_box {
        display: flex;
    }

    .categories_list {
        gap: 40px;
    }

    .vacancies_list {
        justify-content: space-around;
    }

    .footer .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer_title {
        text-align-last: left;
    }

    .footer_item {
        text-align-last: left;
    }

    .footer_descr {
        text-align-last: left;
    }

    .footer_block {
        margin: 0;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .preview_content {
        max-width: 460px;
    }

    .preview_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .preview_img {
        margin: 0;
        width: 50%;
    }

    .hamburger {
        display: none;
    }

    .header_menu {
        position: static;
        width: auto;
        height: auto;
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        flex-direction: row;
    }

    .header_items a {
        font-size: 16px;
    }

    .header_list {
        flex-direction: row;
        gap: 20px;
    }

    .header_box {
        flex-direction: row;
        gap: 35px;
    }

    .header_left-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_menu {
        gap: 160px;
    }

    .desctop_box {
        display: flex;
    }

    .categories_list {
        gap: 40px;
    }

    .vacancies_list {
        flex-direction: column;
        align-items: flex-start;
    }

    .vacancies_item {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .vacancies_item_wrapper {
        display: flex;
        gap: 10px;
    }

    .vacancies_item_title {
        text-align-last: left;
    }

    .vacancies_item_subtitle {
        text-align: left;
    }

    .title {
        text-align-last: left;
    }

    .vacancies_item_wrapper-category {
        margin-right: 170px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .categories_list {
        gap: 30px;
    }

    .categories_title {
        text-align: left;
    }
}